Ques 1. How to import pandas and check the version?

In [1]:
import pandas

In [3]:
print(pandas.__version__)

1.1.4

Ques 2. How to create a series from a numpy array?

In [7]:
import numpy as np
import pandas as pd
arr = np.array([1,2,3,4,5,6,7,8])
arr1 = np.array([11,22,33,44,55,66,77,88])
print(arr,arr1)
print()

series= pd.Series(arr1)
series

[1 2 3 4 5 6 7 8] [11 22 33 44 55 66 77 88]

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
dtype: int64

Ques 3. How to convert the index of a series into a column of a dataframe?

In [20]:
import pandas as pd 
series = pd.Series(data=["Vikas", "anmol","praveen","apoorv"], index=['a','b','c','d'])
print(series)
print()
df=series.to_frame().reset_index()
df.columns=["Option","Name"]
df

a      Vikas
b      anmol
c    praveen
d     apoorv
dtype: object

  Option     Name
0      a    Vikas
1      b    anmol
2      c  praveen
3      d   apoorv

Ques 4. Write the code to list all the datasets available in seaborn library. Load the 'mpg' dataset Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the materials folder)

In [21]:
import seaborn as sns
print(sns.__version__)

0.11.0

In [22]:
sns.get_dataset_names

In [25]:
mpg= sns.load_dataset('mpg')

In [27]:
mpg.shape

(398, 9)

In [28]:
print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

Ques 5. Which country origin cars are a part of this dataset?

In [34]:
mpg=sns.load_dataset('mpg')
mpg['origin'].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

Ques 6. Extract the part of the dataframe which contains cars belonging to 'usa'

In [40]:
mpg= sns.load_dataset('mpg')
df = pd.DataFrame(mpg)
df[df['origin'].str.contains("usa")]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]